@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Courgette&display=swap');

.containerLogo {
  /* border: solid 2px black; */
  font-family: 'Akaya Telivigala', cursive;
  display: flex;
  padding: 5px;
}
.slogan {
  text-align: center;
  /* border: solid 1px black; */
  max-width: 300px;
  height: 100px;
  margin-top: 10vh;
  margin-left: 3vw;
}
.imageLogoContainer {
  max-width: 200px;
  height: 200px;
  /* border: solid 1px black; */
}
.imageLogoContainer img {
  width: 100%;
  margin-top: -5px;
}
